---
case_slug: cecil-finley
created_at: 2026-02-16 22:20:35.220000+00:00
document_category: financial
document_type: financial
extraction_method: native_text
legacy_case_id: 2024-01-24-MVA-001
mime_type: message/rfc822
page_count: 1
quality_score: 100
source_file: /Users/aaronwhaley/Whaley Law Firm Dropbox/Litigation/Active/Cecil-Finley-MVA-1-24-2024/Litigation/2024-12-27-Cecil-Finley-Litigation-WLF-Signed-Discovery-Verification.eml
source_hash: sha256:4fb9b906f0b68c99217a517a2cbe3d0bf675267fec2d200f88912b808abdf96d
---

**Case:** [[cases/cecil-finley/cecil-finley|Cecil Finley]]
**Client:** [[cases/cecil-finley/contacts/cecil-finley|Cecil Finley]]

Subject: Completed: The Whaley Law Firm has requested your signature. Follow the prompts to execute the attached.
From: [EMAIL-2]
To: [EMAIL-2]
Date: 2024-12-27T10:44:03-08:00
Hello Aaron Whaley, 

All signers completed The Whaley Law Firm has requested your signature. Follow the prompts to execute the attached. 

Review the document your recipients have signed, and the following payment(s)

https://na4.docusign.net/Signing/EmailStart.aspx?etti=46&m=b3552bd0-178e-4b2d-8d73-66173207970c

If clicking the link does not work, you can highlight and copy the entire line above and paste it into your browser to get started.

This message was sent to you by Aaron Whaley who is using the Docusign Electronic Signature Service. If you would rather not receive email from this sender you may contact the sender with your request.

Do Not Share This Email
This email contains a secure link to Docusign. Please do not share this email, link, or access code with others.

Questions about the Document?
If you need to modify the document or have questions about the details in the document, please reach out to the sender by emailing them directly.

Stop receiving this email
Report this email https://protect.docusign.net/report-abuse?e=AUtomjpFak9GlbPL0zFFi11FuI3QXPDLbrWdXL9FMRL5aRwhACJYdMPInqLe4KzE6ysQuDbv_T9ud9bvLKzHGCJQC7U5XiBaytodN98-k9wkfiObt0WprZ-PSzVFrkk4KwlASIDcgfXtpvWcFGSfhrD7y7wkcrvaAmh7S64PNBQuSbSSPUq5uZsg9cyZeAT8rz-VoPaJgEEfWJbqQwMcW2TkUmCZC_krylpwSAkr-3eUlYyPe-xTwfLCs50wVzp_317D_82_IqGBvx7o3g0lPC6gbxGKhC3zdpA6OubzP6aylE7zbkY_FMT_4PUUD38gW10UREh7k8UhIOZZd4FfiIJdjxarYZCqp5KYcebcNDrJ&lang=en
Declining to sign 
Managing notifications 

If you have trouble signing, visit "How to Sign a Document" on our Docusign Support Center, or browse our Docusign Community for more information.
https://support.docusign.com/s/articles/How-do-I-sign-a-DocuSign-document-Basic-Signing?language=en_US&#38;utm_campaign=GBL_XX_DBU_UPS_2211_SignNotificationEmailFooter&#38;utm_medium=product&#38;utm_source=postsend
Attachments: 2024.12.27 Finley Resp to DC Disc Req.pdf, 2024.12.27 Finley Resp to DC Disc Req Verification Page - Unexecuted.pdf, Summary.pdf
