---
case_slug: muhammad-alif
created_at: 2026-02-17 00:10:53.565000+00:00
document_category: correspondence
document_type: correspondence
extraction_method: native_text
legacy_case_id: 2022-11-08-MVA-001
mime_type: message/rfc822
page_count: 1
quality_score: 100
source_file: /Users/aaronwhaley/Whaley Law Firm Dropbox/Litigation/Active/Muhammad-Alif-MVA-11-08-2022/Medical/Axon
  Medical Centers/Medical Bills/2025-02-17-Muhammad-Alif-Medical-Axon Medical Centers-Medical-Bills-Axon-Medical-Centers-Medical-Bill-and-Test-Results.eml
source_hash: sha256:5bbdc302772387bcb3fed54b888025675bc8ea91bee37f131413b32c58e95da1
---

Subject: MUHAMMAD ALIF - Healix test results and facility bill
From: [EMAIL-1]
To: sarena@whaleylawfirm.com
CC: [EMAIL-5]
Date: 2025-02-17T15:51:28-06:00
Hi,

I trust this email reaches you at a convenient time.

Please see attached Healix test results and facility bill that was rendered
to patient MUHAMMAD ALIF. Note that this Healix bill is not included in
Axon's bill and is separately handled by Healix Pathology, LLP.

These files can also be accessed through the Justice Bolt portal below:
https://app.mighty.com/share/59184840-b4f0-4344-ab23-9a731d975505?law_firm=d904fc44-befb-422f-b5ce-e90c6968a3b1&referral_source=Strategic+Medical+Management%2C+LLC

Also, we would like to request a copy of LOP for Healix Pathology, LLP.

An acknowledgement receipt of these documents is greatly appreciated. Let
us know if you have any questions. Thank you.


Kind regards,
-- 
*Bills and Records Department*
*Axon Medical Centers*
*Dallas | Houston | San Antonio | El Paso | Austin*
*Phone: [PHONE-3]*
*The information contained in this transmission may contain privileged and
confidential information, including patient information protected by
federal and state privacy laws. It is intended only for the use of the
person(s) named above. If you are not the intended recipient, you are
hereby notified that any review, dissemination, distribution, or
duplication of this communication is strictly prohibited and we ask that
you please contact the sender via email: [EMAIL-4]
<[EMAIL-5]> or telephone [PHONE-6] and destroy all copies of the
original message*

Attachments: MUHAMMAD ALIF 02.06.2025 healix MR.pdf, MUHAMMAD ALIF 02.06.2025 healix HCFA.pdf
